/* ===== Problem 1 ===== */

.rocket_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    transition: transform 3s;

}

.rocket_svg:hover {
    transform: rotate(250deg);
}

/*/* Create rocket hover animation here */


/* ===== Problem 2 ===== */

.astronaut_svg {
    height: 200px;
    width: auto;
    margin-left: 200px;
    transition: transform 1.5s;
}

.astronaut_svg:hover {
    transform: translate(100px);
}

/* ======= BONUS ======= */

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    animation: infinite linear 2s spin;
}

@keyframes spin {
    0% {rotate: 0deg};
    100% {rotate: 360deg};
}
